/* RESET  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;;
}

/* UI Background */
main {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Mined field */
#field {
    width: 100vh;
    height: 100vh;
    display: grid;
}
#field[data-rows="2"] {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#field[data-rows="4"] {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#field[data-rows="6"] {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#field[data-rows="8"] {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#field[data-rows="10"] {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cell {
    background-color: green;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f55f";
    color: darkgreen;
    font-size: 2rem
}
.digged {
    background-color: rgb(80, 38, 38);
}
.digged.mined::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f1e2";
    font-size: 2rem;
    color: black;
}
[data-proximity="0"].digged::after {
    content: "";
}
[data-proximity="1"].digged::after {
    content: "1";
    color: white;
}
[data-proximity="2"].digged::after {
    content: "2";
    color: white;
}
[data-proximity="3"].digged::after {
    content: "3";
    color: white;
}
[data-proximity="4"].digged::after {
    content: "4";
    color: white;
}
[data-proximity="5"].digged::after {
    content: "5";
    color: white;
}


/* UI console */
.console {
    background-color: #202521;
    padding: 2rem;
    color: #d3d2d2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.console > * {
    margin: .5rem 0;
}
select {
    text-align: center;
    padding: .25rem .5rem;
    background-color: #d3d2d2;
    border: none;
    border-radius: .5rem;
    margin-left: 1rem;
    width: 5rem;
}
.btn {
    width: 5rem;
    padding: .5rem 0;
    font-weight: 900;
    font-size: 1.5rem;
    background-color: green;
    border: none;
    border-radius: 1rem;
}
.btn:hover {
    transform: scale(.8);
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner {
    padding: 1rem 2rem;
    margin-top: 2rem;
    border-radius: .5rem;
    background-color: #d3d2d2;
    color: black;
    flex-grow: 0;
}

